.hovered_btns:hover{
  color: white!important;
}
.byUser{
  background-color: #EBEBF5;
}
.rf_program{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  img {
    display: flex!important;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    padding: 0;
  }
}

.player-container {
  height: 72%;
  .category_player {
    height: 100%;
  }
}

.top-list {
  overflow: hidden;
  overflow-y: scroll;
}

.timer {
  font-family: Roboto;
}

.programm-row {
  width: 100%;
}

.checkbox-wrapper {
  background: transparent;
  width: 50px;
  height: 30px;
  position: absolute;
  z-index: 10;
}

.elem_of_cont_edit_local {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // transition:.4s ease all;
  & img {
    display: none;
    margin-right: 10px;
    margin-left: 25px;
  }
  &:hover {
    background-color: #1223C1 !important;
    & p {
      color: #fff;
      font-weight: 600;
    }
  }
  //&.active_elem_ {
  //  background-color: #1223C1;
  //  & img {
  //    display: none;
  //  }
  //  & p {
  //    color: #fff;
  //    font-weight: 600;
  //  }
  //}
  &.new_elem_ {
    background-color: #EBEBF6;
    &:hover {
      background-color: #EBEBF6 !important;
      & p {
        color: #0B0B20 !important;
      }
    }
  }
  min-height: 60px;
  max-height: 60px;
  border-radius: 5px;
  border: 1px solid #E0E0E2;
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0px;
  }
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: cetner;
  & p {
    margin: 0px;
    padding: 10px 20px;
    font-size: 30px;
    color: #0B0B20;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}