<!--<link rel="stylesheet" href="../../../../dtable/css/style.css">-->
<ion-content>
    <div class="wrap_of_top_player">
        <div class="head_of_player">
            <div class="head_logo">
                <a>
                    <img src="assets/img/bluelogo.png" alt="bluelogo">
                </a>
            </div>
            <div class="search_with_settings">
                <div class="search_player">
                    <input type="text" value="{{ currSound ? currSound.name : '' }}">
                </div>
                <div class="filter_player">
                    <input type="text" value="10">
                    <a class="{{ color }}_back">
                        <ion-icon name="settings"></ion-icon>
                    </a>
                </div>
            </div>
            <div class="player_buttons">
                <div class="controls_player">
                    <i class="fa fa-arrows" aria-hidden="true"></i>

                    <a><img src="assets/img/prevbutton.png" alt="prevbutton" (click)="autoPlayPrev()"></a>
                    <a (click)="playSound(currSound.id)" *ngIf="!play"><img src="assets/img/playbutton.png"
                                                                            alt="playbutton"></a>
                    <a (click)="pause()" *ngIf="play"><img src="assets/img/pause-button.png" alt="playbutton"></a>
                    <a><img src="assets/img/nextbutton.png" alt="nextbutton" (click)="autoPlayNext()"></a>
                </div>
                <div class="duration_block {{ color }}">
                    <!--<ion-progress-bar value="{{ progress }}" [color]="danger" [mode]="ios" [type]="indeterminate"></ion-progress-bar>-->
                </div>
                <div class="timing_block">
                    <p class="timer">{{countDown | async | formatTime}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap_of_bottom_player player__fourth player-container">
        <div class="category_player {{ color }}_categor">
            <div class="edit_of_">
                <div class="lf_edit">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="rg_edit">
                    <a>{{'create' | translate}}</a>
                    <a class="edit_me_">{{'edit' | translate}}</a>
                </div>
            </div>
            <div class="edit_of_content ">
                <!--<div class="scrolltobot" style="">-->
                <!--<img src="assets/img/scrollBot.png" alt="scrollBot">-->
                <!--</div>-->
                <div class="head_of_edit_">
                    <h2>{{'category' | translate}}</h2>
                    <a class="delete_elems">{{'delete' | translate}}</a>
                </div>
                <div class="cont_of_edit_ count_elems {{ color }}_edit" dragula="categories" [(dragulaModel)]="availableCats" style="margin-top: -10px">
                    <div *ngFor="let category of availableCats" id="{{category}}" class="{{ color }}"
                         (click)="filterCourses(category)">
                        <div *ngFor="let cat of categories" style="margin-bottom: 10px;"
                             [ngClass]="{'byUser' : user && user.id  && user.id == cat.created_user_id }"
                             [class.active_elem_]="cat.id == cat_id">
                            <div class="elem_of_cont_edit {{ color }}" *ngIf="cat.id == category"
                                 [class.active_elem_]="cat.id == cat_id">
                                <p (click)="filterCourses(cat.id)">{{ cat.name }}</p>
                                <span *ngIf="dragElmId == category">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="16px" height="16px" viewBox="0 0 485.213 485.212" style="enable-background:new 0 0 485.213 485.212;"
	 xml:space="preserve">
<g>
	<path d="M363.909,333.584V272.93h-90.976v90.976h60.653l-90.979,121.307l-90.978-121.307h60.654V272.93h-90.978v65.391
		L0.001,247.346l121.304-90.98v55.916h90.978v-90.978h-60.654L242.607,0l90.979,121.304h-60.653v90.978h90.976v-60.653
		l121.303,90.978L363.909,333.584z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category_player {{ color }}_categor">
            <div class="edit_of_">
                <div class="lf_edit">
                    <textarea name="" cols="30" rows="10"></textarea>
                </div>
                <div class="rg_edit">
                    <a>{{'create' | translate}}</a>
                    <a class="edit_me_">{{'edit' | translate}}</a>
                </div>
            </div>
            <div class="edit_of_content count_elems">
                <!--<div class="scrolltobot" style="">-->
                <!--<img src="assets/img/scrollBot.png" alt="scrollBot">-->
                <!--</div>-->
                <div class="head_of_edit_">
                    <h2>{{'course' | translate}}</h2>
                    <a class="delete_elems">{{'delete' | translate}}</a>
                </div>
                <div class="cont_of_edit_ {{ color }}_edit">
                    <ng-container *ngFor="let course of courses;let i=index;">
                        <div class="elem_of_cont_edit" (click)="setCourse(course.id)"
                             [ngClass]="{'byUser' : user && user.id  && user.id == course.created_user_id }"
                             *ngIf="course.categories && (course.categories[0].id === cat_id || (course.categories[1] && course.categories[1].id === cat_id))"
                             [class.active_elem_]="course.id == selectedCourse && selectedCourse">
                            <!--<ng-container *ngIf="course.categories[0].id === cat_id">-->
                            <p>{{ course.name }}</p>
                            <img src="assets/img/whiteoption.png" alt="whiteoption">
                            <!--</ng-container>-->

                        </div>
                    </ng-container>
                </div>
            </div>
        </div>


        <div class="category_player longer_program">
            <div class="create_of_ {{ color }}_button">
                <a class="hovered_btns">{{'pCopy' | translate}}</a>
                <a class="hovered_btns">{{'pPaste' | translate}}</a>
            </div>
            <div class="edit_of_content">
                <!--<div class="scrolltobot" style="">-->
                <!--<img src="assets/img/scrollBot.png" alt="scrollBot">-->
                <!--</div>-->
                <div class="head_of_edit_ head_of_programm_sort">
                    <h2>{{'program' | translate}}</h2>
                    <a>{{'edit' | translate}}</a>
                </div>

                <div class="program_edit_ count_elems cont_of_edit_">
                    <div class="elem_program" *ngFor="let sound of soundlist;let i = index">
                        <div class="lf_program programm-row">
                            <div class="preview_prog">
                                <div class="checkbox-wrapper" (click)="changeSelectedSounds(sound.id, $event)"></div>
                                <p class="checkbox_in_prog">
                                    <input type="checkbox" id="test1"
                                           [checked]="selectedSounds.indexOf(sound.id) !== -1">
                                    <label for="test1"></label>
                                </p>
                            </div>
                            <p [class.active]="sound.id == currSoundId" (click)="choseSound(sound)">{{ i+1 }}. {{ sound.name }}</p>
                        </div>
                        <div class="rf_program">
                            <p>{{ sound.duration }}</p>
                            <img src="../../assets/img/move.png" alt="move">
                            <img src="../../assets/img/bin.png" alt="bin" class="bin_button">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="category_player longer_program generation_block">
            <div class="generation_buttons {{ color }}_button">
                <!--<a (click)="openMenu()" class="active_generation">My Page</a>-->
                <a routerLink="/info" class="active_generation">{{"home" | translate}}</a>
                <a class="hovered_btns" (click)="closeMenu()">{{"cLang" | translate}}</a>
            </div>
            <div class="generation_content count_elems">
                <div class="scrolltobot">
                    <img src="assets/img/scrollBot.png" alt="scrollBot">
                </div>
                <div class="head_generation">
                    <h2>{{"tList" | translate}}</h2>
                    <div class="inner_head_generation {{ color }}_generation">
                        <ion-input type="text" (ionInput)="getItems($event)" placeholder="Поиск"></ion-input>
                        <!--<a><ion-icon name="search"></ion-icon></a>-->
                    </div>
                    <div class="generation_wrap cont_of_edit_ top-list">
                        <div class="generation_elem" *ngFor="let sound of filtredSounds;let i = index">
                            <p>{{ i+1 }}. {{ sound.name }}</p>
                            <p>{{ sound.duration }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bottom_delete courses_bottom">
        <h2>{{'delCourse' | translate}}</h2>
        <div class="bottom_buttons">
            <a class="delete_button_courses">{{'delete' | translate}}</a>
            <a class="ok_button_courses">OK</a>
        </div>
    </div>

    <div class="bottom_delete program_bottom">
        <h2>{{'delProg' | translate}}</h2>
        <div class="bottom_buttons">
            <a class="delete_button_program">{{'delete' | translate}}</a>
            <a class="ok_button_program">OK</a>
        </div>
    </div>


    <div class="switcher_of_page {{color}}">
        <a>{{'playlist' | translate}} </a>
    </div>

</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="reload()">
    <ion-fab-button>
        <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
</ion-fab>
