<ion-app>
    <ion-menu menuId="first" type="push" disabled="true">
      <div class="left_menu back_col_ {{ color }}">
        <a routerLink="/player">
          <img src="assets/img/logomenu.png" alt="logomenu">
        </a>
        <p>My page</p>
        <ul>
          <li><a routerLink="/info" [class.active_class]="this.router.url=='/info'"><span><img src="assets/img/mic1.png" alt="mic"></span> Information</a></li>
          <li><a routerLink="/coupons" [class.active_class]="this.router.url=='/coupons'"><span><img src="assets/img/mic2.png" alt="mic"></span> Subscription</a></li>
          <li><a routerLink="/history" [class.active_class]="this.router.url=='/history'"><span><img src="assets/img/mic3.png" alt="mic"></span> Purchase history</a></li>
          <li><a routerLink="/unsub" [class.active_class]="this.router.url=='/unsub'"><span><img src="assets/img/mic4.png" alt="mic"></span> Unsubscribe</a></li>
          <li><a routerLink="/player" [class.active_class]="this.router.url=='/player'" (click)="closeMenu()"><span><img src="assets/img/mic5.png" alt="mic"></span> Player</a></li>
        </ul>
        <div class="exit_button">
          <a (click)="exit()"><img src="assets/img/exit.png" alt="exit"> Log Out</a>
        </div>
      </div>
    </ion-menu>
    <ion-router-outlet main>
      <script
              src="https://code.jquery.com/jquery-3.4.0.js"
              integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
              crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="assets/js.js"></script>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">

    </ion-router-outlet>
</ion-app>
