.form_center > form > div{
  margin-bottom: 15px;
  width: 49%;
  display: inline-block;
  margin-left: 1%;
}

@media screen and (max-width: 1380px) and (orientation: landscape){
  .registr{
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .long_wrap_part .center_long {
    width: 450px;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
  }
  .long_wrap_part .wrap_form > p {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 400;
  }
  .long_wrap_part .center_long .wrap_form input[type="submit"], .small_wrap_part > a {
    font-size: 21px;
    height: 60px;
    min-height: 60px;
  }
  .long_wrap_part .center_long .wrap_form input[type="text"],
  .long_wrap_part .center_long .wrap_form input[type="password"],
  .long_wrap_part .center_long .wrap_form input[type="email"],
  .long_wrap_part .center_long .wrap_form input[type="number"]
  {
    height: 60px !important;
    min-height: 60px !important;
    background-color: #ffffff !important;
  }
  .long_wrap_part .center_long > h2 {
    font-size: 36px;
    text-align: center;
  }
  .long_wrap_part .center_long .wrap_form input[type="submit"]{
    width: 300px !important;
    min-width: 300px !important;
    max-width: 300px !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
  }
  ///modal
  .unsubModal .modal-content {
    padding-top: 30px;
    height: 510px;
    width: 900px;
  }
  .modal-dialog.unsubModal {
    width: 900px;
    text-align: center;
  }
  .already_unsubed {
    top: -15px;
  }
  .unsubed_img, .already_unsubed > p {
    margin-bottom: 30px;
  }
  .unsubed_img, .already_unsubed > p {
    margin-bottom: 30px;
  }
  .already_unsubed > p {
    font-size: 36px;
  }
  .already_unsubed > a {
    width: 290px;
  }
  .already_unsubed > a {
    width: 360px;
    height: 90px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #0E1FC0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
  }
}
