<ion-content fullscreen>
  <div class="wrap_login">
    <div class="small_wrap_part">
      <h2>{{'wBack' | translate}}</h2>
      <p>{{'enterToAcc' | translate}}</p>
      <a href="#" [routerLink]="['/login']">{{"login" | translate}}</a>
    </div>
    <div class="long_wrap_part">
      <div class="header_long">
        <a href="#">
          <img src="assets/img/Logo.png" alt="logo">
        </a>

        <select name="" id="" (change)="changeLang($event.target.value)">
          <option value="ru" >RU</option>
          <option value="en" selected>Eng</option>
        </select>
      </div>

      <div class="center_long">
        <h2>{{"signUpBtn" | translate}}</h2>
        <div class="form_center">
          <form action="">
            <div class="wrap_form">
              <p>{{"name" | translate}}</p>
              <input type="text" [(ngModel)]="fname" name="fname">
            </div>
            <div class="wrap_form">
              <p>{{"surName" | translate}}</p>
              <input type="text" [(ngModel)]="lname" name="lname">
            </div>
            <div class="wrap_form">
              <p>{{"address" | translate}}</p>
              <input type="text" [(ngModel)]="address" name="address">
            </div>
            <div class="wrap_form">
              <p>{{"tel" | translate}}</p>
              <input type="number" [(ngModel)]="tel" name="tel" style="font-family: Arial">
            </div>
            <div class="wrap_form">
              <p><ion-icon name="information-circle-outline" popper="Enter the code of the employee from whom you came from, if there is no code put it everywhere 0" popperTrigger="click" (blur)="popperContent.hide()"></ion-icon>{{"personalCode" | translate}}</p>
              <input type="text" [(ngModel)]="code" name="code" [patterns]="customPatterns" mask="[0][000][0000]" maxlength="14" style="font-family: Arial">
            </div>
            <div class="wrap_form">
              <p>{{"email" | translate}}</p>
              <input type="email" [(ngModel)]="email" name="email">
            </div>
            <div class="wrap_form">
              <p>{{"pass" | translate}}</p>
              <input type="password" [(ngModel)]="password" name="password">
            </div>
            <div class="wrap_form">
              <p>{{"rPass" | translate}}</p>
              <input type="password" [(ngModel)]="repassword" name="repassword">
            </div>
          </form>
            <div class="wrap_form wrap_form_subm">
              <input type="submit" value="{{'signUpR' | translate}}" class="registr" id="registr" (click)="tryRegister()">
            </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>
