<ion-content>
  <div class="wrap_of_main_structure wrap_height">
    <div class="right_content purch_content">
      <!--<div class="wrap_of_menu_small">-->
        <!--<a href="#"><img src="img/hamb.png" alt="hamb"></a>-->
      <!--</div>-->
      <div class="unsubscribe_block">
        <h2>{{"unSub" | translate}}</h2>
        <div class="unsub_button">
          <a href="#">{{"unSub" | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
